<app-modal *ngIf="showModal | async"></app-modal>
<div class="row mb-3">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link"
      ><i class="fa fa-arrow-circle-left"></i> Go Back</a
    >
  </div>
  <div class="col-md-6" *ngIf="cartItems.length > 0">
    <div class="btn btn-primary purchaseBtn" (click)="onPurchaseClick()">
      Purchase
    </div>
  </div>
</div>
<div class="row">
  <h3 class="text-danger text-center m-auto" *ngIf="cartItems.length === 0">
    <i class="fa fa-shopping-cart"></i>
    The cart is empty
  </h3>
  <div *ngIf="cartItems.length > 0" class="w-100">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Count</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <td>{{ item.title }}</td>
          <td>{{ item.qty }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.totalPrice | number: "1.2-2" }}</td>
        </tr>
      </tbody>
    </table>
    <p class="totalAmount">Total Amount: {{ totalPrice | currency: "USD" }}</p>
  </div>
</div>
