<div class="row">
  <div class="col-md-4">
    <a routerLink="/" class="btn btn-link"
      ><i class="fa fa-arrow-circle-left"></i> Go Back</a
    >
  </div>
</div>
<div class="row" *ngIf="book">
  <div class="col-md-8">
    <div class="bookCard">
      <img [src]="book.cover" alt="cover" />
      <h4>{{ book.author }}</h4>
      <p>{{ book.description }}</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="priceCard">
      <p class="text-info text-center" *ngIf="message">{{ message }}</p>
      <div class="card-item">
        <div>Price, $</div>
        <div>{{ book.price }}</div>
      </div>
      <div class="card-item">
        <div>Count</div>
        <div>
          <span class="count-btn" (click)="decrementCount()">-</span>
          {{ count }}
          <span class="count-btn" (click)="incrementCount()">+</span>
        </div>
      </div>
      <div class="card-item">
        <div>Total Price, $</div>
        <div>{{ book.price * count | number: "1.2-2" }}</div>
      </div>
      <button class="btn btn-primary" (click)="addToCart()">Add To Cart</button>
    </div>
  </div>
</div>
<div *ngIf="!book">
  <h3>Book has not found!</h3>
</div>
