.booksWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.bookItem {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  padding: 1rem;

  img {
    width: 100px;
    display: block;
    margin: 0 auto 1rem auto;
  }
}
.bookFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  button {
    cursor: pointer;
  }
}
